.my-grid {
    .my-cell {
        vertical-align: middle;
    }
    .my-right-align {
        text-align: right;
    }
    .my-left-align {
        text-align: left;
    }
	.my-center-align {
        text-align: center;
    }
	.my-justfy-align {
        text-align: justify;
    }
}